/* Define breakpoints for desktop and mobile styles */
@media (max-width: 768px) {
    /* Mobile-specific styles */
    .navbar-brand {
      font-size: 16px;
    }
  
    .navbar {
      padding: 10px;
    }
  
    .form-control {
      width: 100%;
    }
  }
  
  @media (min-width: 769px) {
    /* Desktop-specific styles */
    .navbar-brand {
      font-size: 24px;
    }
  
    .form-control {
      width: auto;
    }
  }
  